<template>
  <div>
    <footer>
      <div class="text-center p-3">
        Copyright © 2022:
        <a class="text-dark" href="https://google.com/">DevFast</a>
      </div>
    </footer>
  </div>
</template>
<style scoped>
.text-center {
  background-color: black;
}
</style>