<template>
      <div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">DevFast</a>
        <div class="navbar-title col-sm-3 col-md-2 mr-0">
        <p >Blogmanagement</p>
        </div>
        <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    </div>
</template>

<script>
export default {

     
}
</script>


