<template>
  <div class="card">
    <div class="card-body form-post">
      <div class="form-group">
        
          <label for="input-title">Tiêu đề:</label>
          <input id="input-title" v-model="post.title" class="form-control" />
          
        
      </div>
      <div class="form-group">
        <label for="input-des">Mô tả ngắn:</label>

          <textarea
            id="input-des"
            v-model="post.des"
            class="form-control"
            rows="5"
          ></textarea>
          
        
      </div>
      <div class="form-group">
        <label for="input-detail">Chi tiết:</label>

          <textarea
            id="input-detail"
            v-model="post.detail"
            class="form-control"
            rows="8"
          ></textarea>
          
        
      </div>
      <div class="form-group">
        <label for="input-thumbs">Hình ảnh:</label>
        <input
          id="input-thumbs"
          type="file"
          class="form-control-file d-block"
        />
      </div>

      <div class="form-group">
        <label class="d-block">Vị trí:</label>

          <div
            v-for="position in LIST_POSITION"
            :key="position.positionId"
            class="form-check form-check-inline"
          >
            <input
              v-model="post.position"
            />
            <label class="form-check-label">{{post.position}}</label>
          </div>
          
        
      </div>

      <div class="form-group">
        <label class="d-block">Public:</label>

          <div class="form-check form-check-inline">
            <input
              id="inlineRadio1"
              v-model="post.public"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              value="1"
            />
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              id="inlineRadio2"
              v-model="post.public"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              value="0"
            />
            <label
              :selected="!post.public"
              class="form-check-label"
              for="inlineRadio2"
              >No</label
            >
          </div>
          
           
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label>Loại: </label>

            <select v-model="post.category" class="form-select" aria-label="Default select example">
              <option v-for="category in LIST_CATEGORY" :key="category.categoryId" :value="category.categoryId">{{category.name}}</option>

              </select>
             

          </div>
          <div class="form-group col-md-6">
            <label for="input-date">Date public:</label>

            <input id="input-date" v-model="post.data_pubblic" type="date" class="form-control">
            
             
          </div>
        </div>

      </div>
    <div class="card-footer d-flex justify-content-center p-3">
      <div>
        <button
          type="submit"
          class="btn btn-success"
          @click.prevent="Submit()"
        >
          Submit
        </button>
        <button type="button" class="btn btn-primary">
          Clear
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import {listCategory} from '~/assets/constant/constants.js';
  export default {
    components: {
      ValidationProvider
    },
    props: {
      postEdit : {
        type : Object,
        default : () => {}
      }
    },
    data() {
      return {
        post: {
          title: null,
          des: '',
          detail: '',
          category: '',
          public: null,
          data_pubblic: '',
          position: [],
        },
        listCategory,
        id: this.$route.params.id
      }
    },
    mounted() {
      this.getEditId()
    },

    updated() {
      if(this.postEdit) {
        this.post = this.postEdit;
      }
    },

    methods: {
      getEditId () {
        axios.get(`http://localhost:3000/blogs/${this.id}`)
         .then(response => {
          this.post = response.data
          this.post.position = this.post.position.split(',');
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    //Edit + ADD
      createEditPost() {
          if (this.id) {
            axios.put(`http://localhost:3000/blogs/${this.id}`, this.post)
            .then(() => {
              this.$router.push('/blog');
              alert("Sửa thành công!");
            })
            .catch(error => alert(error))
            } else {

            axios.post(`http://localhost:3000/blogs`, this.post)
            .then(() => {
              this.$router.push('/blog');
              alert("Thêm thành công");
            })
            .catch(error => alert(error))
          }
      },

      async Submit() {
        await this.createEditPost();
      },
    }
  }
</script>

<style scoped>
.form-post {
  padding: 15px 15px 20px 15px;
}

.form-group {
  margin-top: 15px;
  padding: 15px;
}

.form-group label {
  margin-bottom: 10px;
  margin-right: 5px;
}

.form-check-main {
  display: flex;
}
.button-click-info {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.btn:first-child {
  margin-right: 10px;
}
</style>