<template>
  <div class="list-post-blog">
    <div class="card mt-3">
      <div class="card-header title">List Blog</div>
      <div class="card-body m-0 p-0">
        <table class="table table-bordered w-100 text-center">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên</th>
              <th scope="col">Loại</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Vị trí</th>
              <th scope="col">Ngày public</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in posts" :key="item.id">
              <th>{{ item.id }}</th>
              <td>{{ item.title }}</td>
              <td>{{ categoryList(item.category) }}</td>
              <td>{{ item.public ? 'Yes' : 'No' }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.data_public }}</td>
              <td><router-link :to="'/blog/edit/' + item.id"><button type="button" class="btn btn-outline-primary">Edit</button></router-link></td>
              <td><button type="button" class="btn btn-outline-danger" @click="deleteItem(item.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {LIST_CATEGORY} from '~/assets/constant/constants.js';

export default {
  props: {
    listPost : {
      type : Array,
      default : () => []
    }
  },

  data() {
    return {
      posts: [],
      errors: []
    }
  },

  mounted() {
    this.getBlog()
  },
  methods : {
  // lấy dữ liệu khi component được tạo thành công
   getBlog () {
        axios.get(`http://127.0.0.1:8000/api/posts`)
        .then(response => {
          this.posts = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    categoryList(categoryId) {
      const category = LIST_CATEGORY.find(cate => cate.categoryId == categoryId);
      return category.name;
    },

    //DELETE DATA
    deleteItem(id) {
      console.log(id);
        axios.delete(`http://127.0.0.1:8000/api/posts/${id}`).then(response => {
              this.getBlog();
          })
    }
  }
}
</script>

<style>
.btn-search {
    width: 80px;
    height: 35px;
    margin: auto;
  }

.title {
  font-weight: bold;
  font-size: 20px;
}
</style>
