<template>
  <div class="search-post">
    <div class="card mt-3">
      <div class="card-header title">List Blog</div>
      <div class="search-form">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="title-search">Title:</label>
            <input type="search" v-model="keySearch" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Search"/>
          </div>
          <button type="button" class="btn btn-outline-success" @click="searchItem">Search</button>
        </form>
      </div>
      <div class="card-body m-0 p-0">
        <table class="table table-bordered w-100 text-center">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên</th>
              <th scope="col">Loại</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Vị trí</th>
              <th scope="col">Ngày public</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in posts" :key="item.id">
              <th>{{ item.id }}</th>
              <td>{{ item.title }}</td>
              <td>{{ categoryList(item.category) }}</td>
              <td>{{ item.public ? 'Yes' : 'No' }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.data_public }}</td>
              <td>
                <router-link :to="'/blog/edit/' + item.id"><button type="button" class="btn btn-outline-primary">Edit</button></router-link></td>
              <td>
                <button type="button" class="btn btn-outline-danger" @click="deleteItem(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {listCategory} from '~/assets/constant/constants.js';

export default {
  props: {
    listPost : {
      type : Array,
      default : () => []
    }
  },

  data() {
    return {
      posts: [],
      errors: [],
      keySearch: '',
    }
  },

  // lấy dữ liệu khi component được tạo thành công
  mounted() {
    this.getBlog()

  },
  methods : {
   getBlog () {
        axios.get(' http://localhost:3000/blogs')
        .then(response => {
          this.posts = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    categoryList(categoryId) {
      const category = listCategory.find(cate => cate.categoryId == categoryId);
      return category.name;
    },

    //Search blog by title
    searchItem(){
      axios.get(` http://localhost:3000/blogs/?title=${this.keySearch}`).then((response) => {this.posts = response.data}).catch((err) => {
        console.log({err:err})
      });
    }
  }
}
</script>

<style scoped>
.btn-search {
  width: 80px;
  height: 35px;
  margin: auto;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.title-search {
  margin-right: 80px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

.btn-outline-success {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-group {
  margin-top: 30px;
}
</style>
