<template>
  <div>
    <AppHeader />
    <div class="container-fluid">
      <div class="row">
        <AppMenu />
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <!-- <BlogSearchForm /> -->
          <BlogList :data="data"/>
        </main>
      </div>
    </div>
    <AppFooter />
  </div>
</template>

<script>
// import axios from 'axios'
import AppHeader from '~/components/AppHeader.vue'
import AppMenu from '~/components/AppMenu.vue'
import AppFooter from '~/components/AppFooter.vue'
import BlogList from '~/components/blog/BlogList.vue'
// import BlogSearchForm from '~/components/blog/BlogSearchForm.vue'

export default {
  components: { AppHeader, AppMenu, AppFooter, BlogList,  },
  name: 'IndexPage',
  data () {
    return {
      data: []
    }
  },
  mounted(){
    this.$axios.$get('http://localhost:3000/blogs').then(response=>{
      // console.log(response);
      this.data = response
    })
    .catch(e=>{
      this.error.push(e)
    })
  }
}
</script>
